/* Switch toggle styles */
.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-gray-300);
    transition: .4s;
    border-radius: 24px;
}

.switch-slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.switch input:checked+.switch-slider {
    background-color: var(--color-primary-500);
}

.switch input:focus+.switch-slider {
    box-shadow: 0 0 1px var(--color-primary-500);
}

.switch input:checked+.switch-slider:before {
    transform: translateX(20px);
}

.switch input:disabled+.switch-slider {
    opacity: 0.5;
    cursor: not-allowed;
}